.documentSection .mat-icon {
  font-size: 30px;
}

.scheduleSection .mat-icon {
  font-size: 30px;
}

.questionnaireSection .crossbtn {
  padding: 5px 0px 0px;
}

/* Mat expansion CSS*/
mat-expansion-panel-header {
  background-color: gray;
}

  mat-expansion-panel-header:hover {
    background-color: gray !important;
  }

.mat-expanded mat-expansion-panel-header {
  background-color: gray !important;
  border-radius: 0px !important;
}

mat-panel-title {
  color: white;
  font-weight: bold;
}

::ng-deep .mat-expansion-panel-body { /*ng-deep for ovverriding mat css*/
  padding: 20px !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: white !important;
}

.questionnaire {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}

.question {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}


.TimeLineCard {
  height: 75px;
  width: 75px;
  z-index: 0;
  opacity:0.5;
}

.timeline {
  text-align: center;
}

.dotted-row {
  display: table-row;
}

.dotted-row::before {
  top: 62px;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  z-index: 0;
  border-bottom: dotted 3px black;
}

.journeyDiv {
  width: 100%;
  display: inline-flex;
}


.dash {
  border-top-width: 1px;
  border-top-style: solid;
  flex: auto;
  height: 0;
  margin: auto;
  min-width: 32px;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  line-height: 75px;
  text-align: center;
  background: #000
}


