.proposalDiv {
  margin-top: 15px;
  margin-bottom: 15px;
  /*padding: 0px 10px;*/
}

.details {
  margin: 10px;
  padding: 5px;
  text-align: right;
  color:chocolate;
}

/* Journey Section*/
.journeysection {
  width: auto;
  /*white-space: nowrap;*/
  overflow-x: auto;
}

.timelineCard {
  width: 100px;
}

.timeLineImg {
  height: 60px;
  width: 60px;
  z-index: 0;
  opacity: 1;
}

.timeline {
  text-align: center;
  display: inline-flex;
}

.dottedTimeline {
  display: inline-flex;
}

.journeyLine {
  border-top-width: 3px;
  border-top-style: dashed;
  flex: auto;
  height: 49px;
  margin: auto;
  min-width: 100px;
}

/*Progress Arrow Start*/
.arrow {
  font-size: 0;
}

.inner-arrow {
  width: 210px;
  height: 80px;
  display: inline-block;
  background-color: green;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 80px;
  vertical-align: middle;
}

.arrow:before,
.arrow:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  vertical-align: middle;
}

.arrow:before {
  border-top-color: green;
  border-bottom-color: green;
  border-right-color: green;
}

.arrow:after {
  border-left-color: green;
}
/*Progress Arrow End*/

/* Document Section */
.documentSection .mat-icon {
  font-size: 30px;
}

.documentDiv {
  text-align: center;
  border: 1px dashed lightgray;
  margin: 5px 15px;
}

.documentImg {
  display: block;
  margin: auto;
}

.documentImg img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.docLabel {
  height: 25px;
  width: 100%;
  text-align: center;
}

  .docLabel label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.docRemove {
  width: 100%;
  height: 20px;
  text-align: right;
}

.docRemove mat-icon {
  font-size: 25px !important;
  cursor: pointer;
}

.docDownload {
  margin: 10px 0px 10px 0px;
  height: 40px;
  text-align: center;
}

.scheduleSection .mat-icon {
  font-size: 30px;
}

.questionnaireSection .crossbtn {
  padding: 5px 0px 0px;
}

/* Mat expansion CSS*/
mat-expansion-panel-header {
  background-color: lightgray;
}

  mat-expansion-panel-header:hover {
    background-color: lightgray !important;
  }

.mat-expanded mat-expansion-panel-header {
  background-color: lightgray !important;
  border-radius: 0px !important;
}

mat-panel-title {
  color: black;
  font-weight: bold;
  font-style: italic;
}

::ng-deep .mat-expansion-panel-body { /*ng-deep for ovverriding mat css*/
  padding: 20px !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: white !important;
}

/*questionnaire section*/

.questionnaire {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}

.question {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}

th {
  height: 40px;
  color: white;
  background-color: #00163b;
}

th, td {
  border: 1px solid black;
}

  th:nth-child(5) {
    border: none;
    background-color: transparent;
  }

  td:nth-child(5) {
    border: none;
  }

th {
  text-align: center;
}

table mat-form-field {
  padding: 5px;
}

td {
  height: 40px;
  padding: 0px 10px;
}

th:nth-child(1) {
  width: 350px;
}

td:nth-child(1) {
  width: 350px;
}

th:nth-child(4) {
  width: 350px;
}

td:nth-child(4) {
  width: 350px;
}

.scheduleSection
::ng-deep .mat-form-field-underline {
  display: none;
}

.scheduleSection
::ng-deep .mat-form-field-wrapper {
  padding: 0px;
}

.matIconButton {
  cursor: pointer;
}

/*Buttons*/
.actionbtn {
  margin-left: 5px;
}


/*New Horizontal Process*/

.timelinehr {
  padding-bottom: 30px;
  padding-top: 10px;
  list-style-type: none;
  display: flex;
  text-align: center;
  overflow-x: auto;
  background-color: #cecaca;
}

.timelinehr li {
  transition: all 200ms ease-in;
}

.timestamp {
  width: 200px;
  margin-bottom: 20px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 3px solid gray;
  position: relative;
  transition: all 200ms ease-in;
}

.status span {
  font-weight: 600;
  font-size: 14px;
  padding-top: 20px;
}

.status span:before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: forestgreen;
  border-radius: 25px;
  border: 3px solid gray;
  position: absolute;
  top: -12px;
  left: 42%;
  transition: all 200ms ease-in;
}

.reject span:before {
  background-color: orangered;
}

.swiper-control {
  text-align: right;
}

.swiper-slide {
  width: 200px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

  /*.swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }*/


