<div class="multiColorLine"></div>
<div class="page">
  <!--<div class="pageTitle"><span><b>Porposal: </b>  IKEA </span></div>-->
  
  <div class="container-fluid">
    <div class="banner">
      <div class="bannerTitle1">
        <b>Proposal Name : </b>
      </div>
      <div class="bannerTitle2">
        <b>{{proposalTitle}}</b>
      </div>

    </div>
    <div class="details">
      <b>Status : {{porposalStatus}} , Created By : {{proposalBy}}</b>
    </div>
    <div class="proposalDiv">
      <form [formGroup]="proposalForm">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>Basic Information</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              <div class="row">
                <div class="col-lg-3">
                  <mat-label>Request Type <label>*</label></mat-label>
                  <mat-form-field>
                    <mat-select matinput formControlName="requestType" required>
                      <!--<mat-option value="Request Type 1">Request Type 1</mat-option>
                <mat-option value="Request Type 2">Request Type 2</mat-option>
                <mat-option value="Request Type 3">Request Type 3</mat-option>
                <mat-option value="Request Type 4">Request Type 4</mat-option>-->
                      <mat-option *ngFor="let data of requestTypes" value="{{data.requestTypeName}}">{{data.requestTypeName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-label>RFP Code <label>*</label></mat-label>
                  <mat-form-field>
                    <input matInput formControlName="rfpCode" required maxlength="50">
                  </mat-form-field>
                </div>
                <!--<div class="col-lg-3">
            <mat-label>Status <label>*</label></mat-label>
            <mat-form-field>
              <input matInput formControlName="status" required maxlength="50" readonly>
            </mat-form-field>
          </div>-->
                <div class="col-lg-3">
                  <mat-label>Title <label>*</label></mat-label>
                  <mat-form-field>
                    <input matInput formControlName="title" required maxlength="50">
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-label>Requested Date <label>*</label></mat-label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker1" required readonly formControlName="requestedDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-label> Practice Type <label>*</label></mat-label>
                  <mat-form-field>
                    <mat-select matinput formControlName="practiceType" required>
                      <mat-option value="Engineering">Engineering</mat-option>
                      <mat-option value="Digitalization">Digitalization</mat-option>
                      <mat-option value="Globalization">Globalization</mat-option>
                      <mat-option value="Emerging Tools">Emerging Tech</mat-option>
                      <!--<mat-option *ngFor="let data of requestTypes" value="{{data.requestTypeId}}">{{data.requestTypeName}}</mat-option>-->
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-label> Practice Lead <label>*</label></mat-label>
                  <mat-form-field>
                    <mat-select matinput formControlName="practiceLead" required>
                      <mat-option value="Practice Lead 1">Practice Lead 1></mat-option>
                      <mat-option value="Practice Lead 2">Practice Lead 2</mat-option>
                      <mat-option value="Practice Lead 3">Practice Lead 3</mat-option>
                      <mat-option value="Practice Lead 4">Practice Lead 4</mat-option>
                      <!--<mat-option *ngFor="let data of requestTypes" value="{{data.requestTypeId}}">{{data.requestTypeName}}</mat-option>-->
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-label>Customer <label>*</label></mat-label>
                  <mat-form-field>
                    <input matInput formControlName="customer" required maxlength="50">
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-label>Location <label>*</label></mat-label>
                  <mat-form-field>
                    <input matInput formControlName="location" required maxlength="50">
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-label>Scope <label>*</label></mat-label>
                  <mat-form-field>
                    <input matInput formControlName="scope" required maxlength="250">
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-label>Description <label>*</label></mat-label>
                  <mat-form-field>
                    <textarea rows="1" matInput multiline formControlName="description" required maxlength="250"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

        <br />


        <!--<mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>Journey of Proposal</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <div class="journeysection">
              <div class="timeline">
                <div class="dottedTimeline" *ngFor="let journey of RequestJourney; let L = last;">
                  <div class="timelineCard">
                    <p>{{journey.Name}}</p>
                    <div>
                      <img class="timeLineImg" src="{{getProcessImage(journey.statusId)}}" alt="Image Here"><br />
                    </div>
                    <p>{{journey.status}}</p>
                    <p>{{journey.dateTime}}</p>
                  </div>
                  <div *ngIf="!L" class="journeyLine"></div>
                </div>

              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <br />-->
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>Journey of Proposal</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              <div class="journeyDiv">
                <!--<div class="arrow">
                <div class="inner-arrow">Completed</div>
                </div>-->
                <div class="timelinehr">
                  <div class="swiper-slide" *ngFor="let item of steps">
                    <div class="timestamp">
                      <span class="date">{{item.dateLabel}}</span>
                    </div>
                    <div class="{{!item.acceptance?'status reject':'status'}}">
                      <span>{{item.title}}</span>
                    </div>
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <br />


        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>RFP Schedule</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <div class="scheduleSection">
              <div>
                <table>
                  <thead>
                    <tr>
                      <th>Milestone</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Remarks</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody formArrayName="schedule" *ngFor="let X of proposalForm.get('schedule')['controls']; let i = index;">
                    <tr [formGroupName]="i">
                      <td>
                        <mat-form-field>
                          <input matInput formControlName="milestone" required maxlength="100">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker2" required formControlName="scheduleStartDate" readonly>
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker3" required formControlName="scheduleEndDate" readonly>
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput formControlName="remarks" name="txtRemarks" required maxlength="100">
                        </mat-form-field>
                      </td>
                      <td *ngIf="proposalForm.get('schedule').controls.length > 1">
                        <mat-icon class="matIconButton" (click)="removeSchedule(i)">remove_circle</mat-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-1">
                <div class="btn" (click)="addNewSchedule()">
                  <mat-icon>add_circle</mat-icon>
                </div>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

        <br />

        <!--<mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
        <mat-panel-title>Documents</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>

      <div class="documentSection">
        <div class="row">
          <div formArrayName="documents" *ngFor="let X of proposalForm.get('documents')['controls']; let i = index;">
            <div class="col-lg-4" [formGroupName]="i">
              <mat-form-field>
                <input matInput placeholder="Upload Document" formControlName="documentName" required readonly maxlength="50">
              </mat-form-field>
              <input type="file" (change)="fileInput($event, i)" id="file+{{i}}" class="hidden" />
            </div>
            <div class="col-lg-1">
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <label for="file+{{i}}"><mat-icon>attachment</mat-icon></label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div *ngIf="proposalForm.get('documents').controls.length > 1" class="btn" (click)="removeDocument(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-1">
            <div class="btn" (click)="addNewDocument()">
              <mat-icon>add_circle</mat-icon>
            </div>
          </div>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <br />-->

        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>Documents</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <div class="documentSection">
              <div class="row">
                <!--<div class="col-lg-2 documentDiv" *ngFor="let doc of existingDocuments">
            <label>{{doc.documentName}}</label>
            <div class="documentImg">
              <img src="{{getDocumentImage(doc.documentExt)}}" alt="Document Here">
            </div>
            <br />
            <button class="btn btn-default btn-sm" type="button" (click)="downloadFile(doc)">Download</button>
          </div>-->
                <div formArrayName="documents" *ngFor="let X of proposalForm.get('documents')['controls']; let i = index;">
                  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 documentDiv" [formGroupName]="i">
                    <div class="docRemove">
                      <mat-icon (click)="removeDocument(i)">highlight_off</mat-icon>
                    </div>
                    <div class="docLabel">
                      <input matInput placeholder="Upload Document" formControlName="documentName" required readonly maxlength="50" class="hidden">
                      <label>{{ X.get('documentName').value || 'No file choosen' }}</label>
                      <input type="file" (change)="fileInput($event, i)" id="file+{{i}}" class="hidden" />
                    </div>
                    <div class="documentImg">
                      <label for="file+{{i}}"><img src="{{getDocumentImage(X.get('documentExt').value || 'new')}}" alt="Document Here"></label>
                    </div>
                    <div class="docDownload">
                      <button *ngIf="X.get('documentId').value > 0" class="btn btn-default btn-sm" type="button" (click)="downloadFile(X.value)">Download</button>
                      <div *ngIf="X.get('documentId').value <= 0"><p><i>Click on image to upload the document</i></p></div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-lg-1">
                  <div class="btn" (click)="addNewDocument()">
                    <mat-icon>add_circle</mat-icon>
                  </div>
                </div>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

        <br />

        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>Questionnaire</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <div class="questionnaireSection">
              <div formArrayName="questionnaire" *ngFor="let X of proposalForm.get('questionnaire')['controls']; let i = index;">
                <div class="questionnaire" [formGroupName]="i">
                  <div class="pull-right btn crossbtn" *ngIf="proposalForm.get('questionnaire').controls.length > 1" (click)="removeQuestionnaire(i)">
                    <mat-icon>highlight_off</mat-icon>
                  </div>
                  <br />
                  <div>
                    <mat-label>Area <label>*</label></mat-label>
                    <mat-form-field>
                      <input matInput formControlName="questionnaireArea" required maxlength="50">
                    </mat-form-field>
                  </div>
                  <div formArrayName="questions" *ngFor="let Y of X.get('questions')['controls']; let j = index;">
                    <div class="question" [formGroupName]="j">
                      <div class="pull-right btn crossbtn" *ngIf="X.get('questions').controls.length > 1" (click)="removeQuestion(i,j)">
                        <mat-icon>highlight_off</mat-icon>
                      </div>
                      <br />
                      <div>
                        <mat-label>Question <label>*</label></mat-label>
                        <mat-form-field>
                          <textarea rows="1" matInput multiline formControlName="question" required maxlength="150"></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-label>Answer <label>*</label></mat-label>
                        <mat-form-field>
                          <textarea rows="1" matInput multiline formControlName="answer" required maxlength="300"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    <br />
                  </div>
                  <div>
                    <button type="button" class="btn btn-sm btn-info" (click)="addNewQuestion(i)">New Question</button>
                  </div>
                </div>
                <br />
              </div>
              <div>
                <button type="button" class="btn btn-sm btn-info" (click)="addNewQuestionnaire()">New Area</button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <br />

        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>Other</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              <mat-label>Additional Information <label>*</label></mat-label>
              <mat-form-field>
                <textarea rows="2" matInput multiline formControlName="additionalInformation" required maxlength="300"></textarea>
              </mat-form-field>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

        <br />

        <div class="col-lg-4">
          <mat-label> Assigned To : </mat-label>
          <mat-form-field>
            <mat-select matinput>
              <mat-option value="Value 1">Value 1</mat-option>
              <mat-option value="Value 2">Value 2</mat-option>
              <mat-option value="Value 3">Value 3</mat-option>
              <mat-option value="Value 4">Value 4</mat-option>
              <!--<mat-option *ngFor="let data of requestTypes" value="{{data.requestTypeId}}">{{data.requestTypeName}}</mat-option>-->
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="role === roles.Sales_Lead">
          <!--Sales Lead-->
          <button class="btn actionbtn btn-primary pull-right" type="submit" (click)="submit()">Update</button>
        </div>
        <div *ngIf="role === roles.Practice_Lead">
          <!--Practice Lead-->
          <button class="btn actionbtn btn-primary pull-right" type="submit" (click)="submit()">Forward</button>
          <button class="btn actionbtn btn-danger pull-right" type="submit" (click)="submit()">Send Back</button>
        </div>
        <div *ngIf="role === roles.Pursuit_Team_Lead">
          <!--Pursuite Lead-->
          <button class="btn actionbtn btn-primary pull-right" type="submit" (click)="submit()">Forward</button>
          <button class="btn actionbtn btn-danger pull-right" type="submit" (click)="submit()">Send Back</button>
        </div>
        <div *ngIf="role === roles.Delivery_TeamLead">
          <!--Delivery Lead-->
          <button class="btn actionbtn btn-success pull-right" type="submit" (click)="submit()">Accept</button>
        </div>
      </form>
    </div>
  </div>
</div>
