<nav class="navbar navbar-default">
  <div class="row container-fluid">
    <div class="col-md-6">
      <a class="imgContent" routerLink="/dashboard">
        <img alt="Pactera" class="imagePactera" src="assets/images/TopNavLogo.png">
      </a>
      <label class="devider"> | </label>
      <label class="RFP"> RFP </label>
    </div>

    <div class="col-md-6">
      <div class="navbar-right">
        <div class="profileUser">
          <label>Welcome : Aravindu Kumar Gattu</label>
          <a class="pull-right" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </div>

      </div>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <nav class="{{!sideMenu?'sideNav':'sideNav sideNavClose'}}" id="sidebar">

    <ul class="list-group">
      <li class="list-group-item" (click)="toggleFunction()">
        <a><i class="{{!sideMenu?'glyphicon glyphicon-menu-left':'glyphicon glyphicon-menu-right'}}" aria-hidden="true"></i><span>Menu</span></a>
      </li>

      <li *ngFor="let menu of MenuList" class="list-group-item" routerLinkActive="active" [routerLink]="menu.path">
        <a><i class="glyphicon" [ngClass]="menu.class" aria-hidden="true"></i><span>{{menu.title}}</span></a>
      </li>
    </ul>

    <!--<button id="btnToggle" class="btn bnt-link btn-block btn-toggle">
      <i class="{{!sideMenu?'glyphicon glyphicon-triangle-left':'glyphicon glyphicon-triangle-right'}}" (click)="toggleFunction()" aria-hidden="true"></i>
    </button>-->

  </nav>
    <main class="{{!sideMenu?'main':'main sideNavOpen'}}" role="main" id="main">
      <div class="main-panel">
        <router-outlet></router-outlet>
      </div>
    </main>
</div>

