.container-fluid {
  padding-right: 0px !important;
}

.navbar {
  background-color: #00163b;
  overflow: hidden;
  margin-bottom: 0px !important;
  border: none !important;
  height: 60px !important;
  border-radius: 0px !important;
}

.navbar .navbar-default {
  border-color: none !important;
}

/* Top Content */

.imgContent {
  padding: 1px !important;
}

.imagePactera {
  float: left;
  height: 40px;
  width: 100px;
  padding-top: 12px;
  font-size: 18px;
  line-height: 20px;
}

.devider {
  font-size: 30px;
  color:lightgray;
  margin-left: 15px;
  margin-top: 5px;
}

.RFP {
  margin-left:15px;
  margin-top:5px;
  font-size: 26px;
  font-family: 'Bodoni MT';
  font-style:italic;
  color:white;
}

.profileUser a {
  color: white;
  padding: 14px 16px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.profileUser a:hover{
  color: red;
}

.profileUser .glyphicon-log-out:before {
  color: red;
}

.profileUser label {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: Courier New, Courier, monospace;
}

/* Top Content */

/* Side Navigation*/


.sideNav {
  position: fixed;
  top: 60px;
  width: 200px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 0px solid #eee;
  background: #00163b;
}

.sideNav.sideNavClose {
  width: 45px;
}

.sideNav.sideNavClose .list-group-item a span {
  display: none;
}

.sideNav .btn-toggle {
  border-radius: 0px;
  text-align: right;
}

.sideNav .list-group-item {
  background-color: transparent;
  border-radius: 0px !important;
  padding: 10px;
  border: 0px;
  color: white;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  outline: none;
  text-decoration: none !important;
}

.sideNav .list-group-item .glyphicon {
  width: 40px;
  font-size: 20px;
  color: white;
  text-align: left;
}

.sideNav .list-group-item a:hover {
  text-decoration: none;
}

.sideNav .list-group-item:hover {
  text-decoration: none;
  background: rgba(255,255,255,0.1);
}

.sideNav .list-group-item.active {
  background-color: goldenrod;
  font-weight: 700;
  color: white;
  outline: none;
}

.sideNav .list-group-item.active i, span {
  color: white !important;
}

.sideNav .nav {
  margin-bottom: 20px;
}

nav button.btn-toggle i {
  font-size: 1.2em;
  cursor: pointer;
}

nav button.btn-toggle {
  background: #00163b !important;
  color: white !important;
  display: inline-block;
  outline: none;
  cursor: default;
}

nav button {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

/* Side Navigation*/

/* Main Body*/

.main {
  margin-top: 0px;
  margin-left: 185px;
  padding: 0px;
  transition: all 0.3s;
}

.main.sideNavOpen {
  margin-left: 30px;
}

.main .main-panel {
  padding-left: 0px;
}

/* Main Body*/
