.static-loader {
  height: 100%;
  width: 100%;
  z-index: 999999999;
  top: 0;
  left: 0;
  background: #0000005e;
  position:fixed;
  padding: 20% 40% 40% 45%;
}

.imgloader {
  width:100px;
  height:100px;
}

