<div class="multiColorLine"></div>

<div class="page">

  <div>

  </div>

  <div class="planSection">
    <div class="buckets">
      <div class="bucket">
        <mat-card><label>In Process</label></mat-card>
      </div>
      <div class="bucket">
        <mat-card><label>Submitted</label></mat-card>
      </div>
      <div class="bucket">
        <mat-card><label>Defective</label></mat-card>
      </div>
      <div class="bucket">
        <mat-card><label>Processed</label></mat-card>
      </div>
    </div>
    
  </div>


  </div>

