.proposalDiv {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 10px;
}

.documentSection .mat-icon {
  font-size: 30px;
}

.documentDiv {
  text-align: center;
  border: 1px dashed lightgray;
  margin: 5px 10px;
}

.documentImg {
  display: block;
  margin: auto;
}

.documentImg img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.docLabel {
  height: 25px;
  width: 100%;
  text-align: center;
}

  .docLabel label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.docRemove {
  width: 100%;
  height: 20px;
  text-align: right;
  margin-right: -10px !important;
}

  .docRemove mat-icon {
    font-size: 25px !important;
    cursor: pointer;
  }

.docDownload {
  margin: 10px 0px 10px 0px;
  height: 40px;
  text-align: center;
}

.scheduleSection {
  overflow-x: auto;
}

.scheduleSection .mat-icon {
  font-size: 30px;
}

.questionnaireSection .crossbtn {
  padding: 5px 0px 0px;
}


/* Mat expansion CSS*/
mat-expansion-panel-header {
  background-color: lightgray;
}

  mat-expansion-panel-header:hover {
    background-color: lightgray !important;
  }

.mat-expanded mat-expansion-panel-header {
  background-color: lightgray !important;
  border-radius: 0px !important;
}

mat-panel-title {
  color: black;
  font-weight: bold;
  font-style: italic;
}

::ng-deep .mat-expansion-panel-body { /*ng-deep for ovverriding mat css*/
  padding: 20px !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: white !important;
}

.questionnaire {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}

.question {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}

th {
  height: 40px;
  color: white;
  background-color: #00163b;
}

th, td {
  border: 1px solid black;
}

th:nth-child(5) {
  border: none;
  background-color: transparent;
}

td:nth-child(5) {
  border: none;
}

th {
  text-align: center;
}

table mat-form-field {
  padding: 5px;
}

td {
  height: 40px;
  padding: 0px 10px;
}

th:nth-child(1) {
  width: 350px;
}

td:nth-child(1) {
  width: 350px;
}

th:nth-child(4) {
  width: 350px;
}

td:nth-child(4) {
  width: 350px;
}

.scheduleSection
::ng-deep .mat-form-field-underline {
  display: none;
}

.scheduleSection
::ng-deep .mat-form-field-wrapper {
  padding: 0px;
}

.matIconButton {
  cursor: pointer;
}


