.proposalDiv {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 10px;
}

.documentSection .mat-icon {
  font-size: 30px;
}

.documentDiv {
  text-align: center;
  border: 1px dashed lightgray;
  margin: 5px 10px;
}

.documentImg {
  display: block;
  margin: auto;
}

.documentImg img {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.docLabel {
  height: 25px;
  width: 100%;
  text-align: center;
}

  .docLabel label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.docRemove {
  width: 100%;
  height: 20px;
  text-align: right;
  margin-right: -10px !important;
}

  .docRemove mat-icon {
    font-size: 25px !important;
    cursor: pointer;
  }

.docDownload {
  margin: 10px 0px 10px 0px;
  height: 40px;
  text-align: center;
}

.scheduleSection .mat-icon {
  font-size: 30px;
}

.questionnaireSection .crossbtn {
  padding: 5px 0px 0px;
}


/* Mat expansion CSS*/
mat-expansion-panel-header {
  background-color: gray;
}

  mat-expansion-panel-header:hover {
    background-color: gray !important;
  }

.mat-expanded mat-expansion-panel-header {
  background-color: gray !important;
  border-radius: 0px !important;
}

mat-panel-title {
  color: white;
  font-weight: bold;
}

::ng-deep .mat-expansion-panel-body { /*ng-deep for ovverriding mat css*/
  padding: 20px !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: white !important;
}

.questionnaire {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}

.question {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}
