.Page {
  display: table;
  width: 100%;
  overflow: hidden;
}

/*.sideContent {
  height: 100vh;
  width: 350px;
  color: white;
  font-family: "Open Sans",sans-serif;
  text-align: center;
  padding: 0px 30px;
  background-image: linear-gradient(to bottom right, red 0%, rgb(6, 48, 90) 30%, rgb(6, 48, 90) 70%, red 100%);
  overflow-y: auto;
  display: table-cell;
  bottom: 0 !important;
}

.welcomeContent {
  margin-top: 50px;
  margin-bottom: 80px;
}

.gt-morning {
  height: 50px;
  mask: url('../../assets/images/morning.svg') center/50px 50px no-repeat;
  background-color: white;
}

.gt-afternoon {
  height: 50px;
  mask: url('../../assets/images/afternoon.svg') center/50px 50px no-repeat;
  background-color: white;
}

.gt-evening {
  height: 50px;
  mask: url('../../assets/images/evening.svg') center/50px 50px no-repeat;
  background-color: white;
}

.border {
  width: 100% !important;
  border-color: white !important;
  border-bottom: 2px solid whitesmoke !important;
  margin-top: 50px;
  opacity: .5;
}

.image {
  height: 300px;
  mask: url('../../assets/images/Project_Proposal.png') center/200px 200px no-repeat;
  background-color: white;
}

.imageContent {
  bottom: 0;
}

.loginPage {
  display: table-cell;
}

.loginContent {
  text-align: center;
  width: 350px;
  margin: auto;
}

.loginFormContent {
  height: 350px;
  border: 1px solid gray;
  border-radius: 25px;
}

.loginLogo {
  margin-bottom: 15px;
}

.loginLabel {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: gray;
}


* {
  box-sizing: border-box;
}

.loginForm {
  margin: 10px 20px;
}



.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin-bottom: 3px;
  margin-top: 20px;
  height: 40px;
}

.input-field {
  width: 100%;
  padding: 15px;
  outline: none;
  font-size: 14px;
}

  .input-field:focus {
    border: 2px solid rgb(6, 48, 90);
  }

.icon {
  padding: 10px;
  background: rgb(6, 48, 90);
  color: white;
  min-width: 40px;
  text-align: center;
}

.btn {
  background: rgb(6, 48, 90);
  height: 40px;
  width: 100%;
  font-size: 16px;
}

.vailation-alert {
  font-size: 10px;
  font-family: helvetica;
  margin: 0px 0px 0px 40px;
  font-weight: 600;
  color: #CC0000;
  float: left;
}

.invalidCredentials {
  margin-top: 5px;
  width: 100%;
  height: 25px;
  background-color: #ffdddd;
  border: 1px solid #f44336;
  border-radius: 3px;
  color: red;
}

.validCredentials {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  color: gray;
}*/



/*New Login Screen*/


.mainHeader {
  position: fixed;
  display:inline;
  overflow: auto;
}

.mainHeader .header-strip {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.2);
  height: 55px;
  width: 100%;
}

.mainHeader .header-strip img {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 125px;
  height: 35px;
}

.devider {
  position: absolute;
  font-size: 30px;
  left: 160px;
  top: 5px;
  color: white;
}

.RFP {
  position: absolute;
  font-size: 30px;
  left: 180px;
  top:5px;
  font-family: 'Bodoni MT';
  font-style: italic;
  color: white;
}

.hiddenFlow {
  overflow-y: hidden;
}

.imgBackground {
  width: 100%;
  /*margin: auto;*/
}

.empLogin {
  position: absolute;
  top: 15%;
  left: 10%;
  padding: 25px;
  width: 400px;
  background: rgba(255,255,255,0.12);
  text-align: center;
}

.wish {
  color: white;
}

.gt-morning {
  height: 50px;
  mask: url('../../assets/images/morning.svg') center/50px 50px no-repeat;
  background-color: white;
}

.gt-afternoon {
  height: 50px;
  mask: url('../../assets/images/afternoon.svg') center/50px 50px no-repeat;
  background-color: white;
}

.gt-evening {
  height: 50px;
  mask: url('../../assets/images/evening.svg') center/50px 50px no-repeat;
  background-color: white;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 3px;
  margin-top: 20px;
  height: 40px;
}

.input-field {
  width: 100%;
  padding: 15px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}

.input-field:focus {
  border: 3px solid darkgray;
}

.btn {
  background-color: darkgoldenrod;
  height: 40px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.btn:focus {
  outline-color: white;
}

.vailation-alert {
  font-size: 10px;
  font-family: helvetica;
  font-weight: 700;
  color: lightcoral;
  float: left;
}

.invalidCredentials {
  width: 100%;
  height: 25px;
  border-radius: 3px;
  color: lightcoral;
  font-weight: bold;
}

/*New Login Screen*/


/* Responsive */



@media screen and (max-width:700px) {
  /* For mobile phones: */

  .mainHeader {
    position: relative;
    overflow: auto;
  }

  .mainHeader .header-strip {
    position: absolute;
  }

  .empLogin {
    position: static;
    width: 90%;
    border: 1px solid darkgray;
    border-radius: 25px;
    margin: 20px auto;
  }

  .wish {
    color: black;
  }

  .wish h4 {
    font-weight: bold;
  }

  .gt-morning {
    background-color: black;
  }

  .gt-afternoon {
    background-color: black;
  }

  .gt-evening {
    background-color: black;
  }

  .input-field {
    outline: none;
    border: 1px solid gray;
  }
}

/* Responsive */
