.Page {
  display: table;
  width: 100%;
}

.sideContent {
  /*background-color: #007bff;*/ /*lightseagreen*/
  height: 100vh;
  width: 350px;
  color: white;
  font-family: "Open Sans",sans-serif;
  text-align: center;
  padding: 0px 30px;
  background-image: linear-gradient(to bottom right, red 0%, rgb(6, 48, 90) 30%, rgb(6, 48, 90) 70%, red 100%);
  overflow-y: auto;
  /*background: url('../../assets/images/Back_3.png') no-repeat;*/
  /*position: fixed;*/
  display: table-cell;
  bottom: 0 !important;
}

.welcomeContent {
  margin-top: 50px;
  margin-bottom: 80px;
}

.gt-morning {
  height: 50px;
  mask: url('../../assets/images/morning.svg') center/50px 50px no-repeat;
  background-color: white;
}

.gt-afternoon {
  height: 50px;
  mask: url('../../assets/images/afternoon.svg') center/50px 50px no-repeat;
  background-color: white;
}

.gt-evening {
  height: 50px;
  mask: url('../../assets/images/evening.svg') center/50px 50px no-repeat;
  background-color: white;
}

.border {
  width: 100% !important;
  border-color: white !important;
  border-bottom: 2px solid whitesmoke !important;
  margin-top: 50px;
  opacity: .5;
}

.image {
  height: 300px;
  mask: url('../../assets/images/Project_Proposal.png') center/200px 200px no-repeat;
  background-color: white;
}

.imageContent {
  bottom: 0;
  /*position: absolute;*/
}

.loginPage {
  display: table-cell;
}

.loginContent {
  /* text-align: center; */
  /*margin-top: 100px;
  margin-left: 500px;*/
  /*height: 500px;*/
  /*width: 500px;*/
  text-align: center;
  width: 350px;
  margin: auto;
}

.loginFormContent {
  /* background-image: url('../../assets/images/login_wallpaper1.jpg'); */
  height: 350px;
  border: 1px solid gray;
  border-radius: 25px;
}

.loginLogo {
  margin-bottom: 15px;
}

.loginLabel {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: gray;
}

.loginFormDiv {
  /*margin-top: 10px;*/
}

* {
  box-sizing: border-box;
}

.loginForm {
  margin: 10px 20px;
}

.basicMargin {
  /*margin: 50px 0px 0px 0px;*/
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 3px;
  margin-top: 20px;
  height: 40px;
}

.input-field {
  width: 100%;
  padding: 15px;
  outline: none;
  font-size: 14px;
}

  .input-field:focus {
    border: 2px solid rgb(6, 48, 90);
  }

.icon {
  padding: 10px;
  background: rgb(6, 48, 90);
  color: white;
  min-width: 40px;
  text-align: center;
}

.btn {
  background: rgb(6, 48, 90);
  height: 40px;
  width: 100%;
  font-size: 16px;
}

.vailation-alert {
  font-size: 10px;
  font-family: helvetica;
  margin: 0px 0px 0px 40px;
  font-weight: 600;
  color: #CC0000;
  float: left;
}

.invalidCredentials {
  margin-top: 5px;
  width: 100%;
  height: 25px;
  background-color: #ffdddd;
  border: 1px solid #f44336;
  border-radius: 3px;
  color: red;
}

.validCredentials {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  color: gray;
}


/*New Style of Login*/

.mainHeader {

}

/*New Style of Login*/


