<div class="Page">
  <div class="sideContent">
    <div class="welcomeContent">
      <h1>Welcome to <i>RFP</i></h1>
    </div>
    <div>
      <div [ngClass]="{'gt-morning': period === 'MORNING', 'gt-afternoon': period === 'AFTERNOON', 'gt-evening': period === 'EVENING' }"></div>
      <h3>GOOD {{period}}</h3>
    </div>
    <div class="border"></div>
    <div class="imageContent">
      <!-- <img src="../../assets/images/Project_Proposal.png" alt="Smiley face" height="42" width="42"> -->
    </div>
  </div>
  <div class="loginPage">
    <div class="loginContent">
      <div class="loginLogo">
        <img src="../../assets/images/LoginLogo.jpg" alt="Smiley face" height="30" width="120">
      </div>
      <div class="loginFormContent">
        <br />
        <img src="../../assets/images/Login_User.png" alt="Smiley face" height="60" width="60">
        <div class="loginLabel">
          <label>Login</label>
        </div>
        <div class="loginFormDiv">
          <form class="form-group loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div *ngIf="isValidCredentials" class="validCredentials">Please enter credentials to login.</div>
            <div *ngIf="!isValidCredentials" class="invalidCredentials">Please enter valid credentials !!</div>
            <div class="input-container">
              <div class="icon">
                <i class="glyphicon glyphicon-user"></i>
              </div>
              <input required formControlName="username" type="text" id="formUserID" class="input-field" placeholder="USER ID">
            </div>
            <div class="vailation-alert" *ngIf="(loginForm.controls['username'].touched || loginForm.controls['username'].dirty)">
              <div *ngIf="loginForm.controls['username']?.errors?.required">User ID is required.</div>
            </div>
            <div class="input-container">
              <div class="icon">
                <i class="glyphicon glyphicon-lock"></i>
              </div>
              <input required formControlName="password" type="password" id="formPassword" class="input-field" placeholder="PASSWORD">
            </div>
            <div class="vailation-alert" *ngIf="(loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">
              <div *ngIf="loginForm.controls['password']?.errors?.required">Password is required.</div>
            </div>
            <br />
            <!-- Send button -->
            <button class="btn btn-primary basicMargin" color="info" block="true" type="submit" [disabled]="!loginForm.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
